html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    &--header {
        flex: 1 1 15%;
        border: 1px solid grey;
        background: #ccc;
    }

    &--body {
        flex: 1 1 70%;
        display: flex;
    }

    &--sidebar {
        flex: 1 1 30%;
        background: pink;
    }

    &--content {
        flex: 1 1 70%;
        background: blank;
    }
}

.language-selector {
    width: 150px;
    display: flex;
    float: right;
    button {
        margin: 5px;
    }
}